<!DOCTYPE html>
{% extends "main_app/page_template.html" %}

    {% load static %}

    {% block title %}
        Hostel Chai ?
    {% endblock %}

    {% block my_stylesheet %}
        <link rel="stylesheet" href="{% static "main_app/stylesheets/admin_home_page.css" %}">
    {% endblock %}

    {% block my_js %}
        <script src="{% static "main_app/js/admin_home_page.js" %}"></script>
    {% endblock %}

    {% block main_block %}
        <div class="jumbotron header_layer_1 bg-transparent">
            <div class="jumbotron header_layer_2 bg-transparent">
                <h1 class="text-info text-center header">{{ name }}</h1>
            </div>
        </div>
    {% endblock %}