<!DOCTYPE html>
{% extends "main_app/page_template.html" %}

    {% load static %}

    {% block title %}
        Testing...
    {% endblock %}

    {% block my_stylesheet %}
        <link rel="stylesheet" href="{% static "main_app/css/test_page.css" %}">
    {% endblock %}

    {% block my_js %}
        <script src="{% static "main_app/js/test_page.js" %}"></script>
    {% endblock %}

    {% block main_block %}

        <div class="test border">
            <h1>hello</h1>
        </div>

        <select class="custom-select" name="test" id="test">
            <option value="1">1</option>
            <option value="1" selected>2</option>
            <option value="1">3</option>
            <option value="1">4</option>
        </select>

    {% endblock %}